[submodule "rms-frontend"]
	path = modules/frontend
	url = https://github.com/tafuri-pierluigi/rms-frontend.git
[submodule "rms-backend"]
	path = modules/backend
	url = https://github.com/tafuri-pierluigi/rms-backend.git
