{
	auto_https off
}

http://local.cremisi.shop {
	log {
		output stdout
		format console
	}
	encode gzip zstd

	handle_path /api/* {
		reverse_proxy backend:3000 {
			header_up X-Real-IP {remote_host}
		}
	}

	handle_path /files/* {
		rewrite * /rms-images{uri}
		reverse_proxy minio:9000
	}

	handle {
		root * /srv/frontend
		try_files {path} /index.html
		file_server
	}
}

http://admin.local.cremisi.shop {
	log {
		output stdout
		format console
	}
	encode gzip zstd

	handle_path /api/* {
		reverse_proxy backend:3000 {
			header_up X-Real-IP {remote_host}
			header_up X-Tenant-Slug ""
			header_up X-Is-SuperAdmin "true"
		}
	}

	handle_path /files/* {
		rewrite * /rms-images{uri}
		reverse_proxy minio:9000
	}

	handle {
		root * /srv/frontend
		try_files {path} /index.html
		file_server
	}
}

http://*.local.cremisi.shop {
	log {
		output stdout
		format console
	}
	encode gzip zstd

	handle_path /api/* {
		reverse_proxy backend:3000 {
			header_up X-Real-IP {remote_host}
			header_up X-Tenant-Slug {labels.3}
			header_up X-Is-SuperAdmin "false"
		}
	}

	handle_path /files/* {
		rewrite * /rms-images{uri}
		reverse_proxy minio:9000
	}

	handle {
		root * /srv/frontend
		try_files {path} /index.html
		file_server
	}
}
